<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ws="http://jax-ws.dev.java.net/spring/core"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:wss="http://jax-ws.dev.java.net/spring/servlet"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context-2.5.xsd
						http://jax-ws.dev.java.net/spring/core
						http://jax-ws.java.net/spring/core.xsd
						http://jax-ws.dev.java.net/spring/servlet
						http://jax-ws.java.net/spring/servlet.xsd">

	<context:component-scan base-package="com.jaxws.impl" />

	<!-- Web service bean -->
	<bean id="springWs" class="com.jaxws.impl.SpringWsImpl">
		<!-- <property name="myObject" ref="MyObject" /> -->
	</bean>

	<!-- <bean id="myObject" class="com.jaxws.impl.MyObjectImpl" /> -->
	
	<wss:binding url="/jaxws-spring">
		<wss:service>
			<ws:service bean="#springWs" />
		</wss:service>
	</wss:binding>
	
</beans>